table { 
    width: 70%; 
    border-collapse: collapse; 
    margin: 10px;
    margin-left: 18%;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
 
  .icons i{
    margin: 4px;
    font-size: large;
    cursor: pointer;
    transition: 0.1s;   
  }
  .icons i:hover{
    transform: scale(1.2);  
  }
 
.icon-delete:hover{
    color: red;
    cursor: pointer;
    background-color: black;
  }
 